---
layout: default
title: Hilmy Baja
balloon_css: true
---

<div class="about-me">
  <h2 style="text-align: right;">Hi, I'm Hilmy</h2>

  <p class="description">
    I am a PhD candidate in Wageningen University.
    This is a blog that I use to share things that I find interesting.
    I will also try to update about things that are going on lately.
    My current research focus is on applying Reinforcement Learning to
    agricultural problems.
  </p>

  <div class="social-icons">

    <p class="social-text">Find my other internet presence here:</p>

    <a target="_blank" class="balloon" href="https://github.com/hbja" aria-label="Github" data-balloon-pos="down">
      <span class="screen-readers-only">Github</span>
      <i class="fa-brands fa-github fa-2x"></i>
    </a>

    <a target="_blank" class="balloon" href="https://www.instagram.com/hilmybaja/" aria-label="Instagram" data-balloon-pos="down">
      <span class="screen-readers-only">Instagram</span>
      <i class="fa-brands fa-instagram fa-2x"></i>
    </a>

    <a target="_blank" class="balloon" href="https://scholar.google.com/citations?user=PFwVicIAAAAJ&hl=en" aria-label="Google Scholar" data-balloon-pos="down">
      <span class="screen-readers-only">Google Scholar</span>
      <i class="fa-solid fa-graduation-cap fa-2x"></i>
    </a>

    <a target="_blank" class="balloon" href="https://www.linkedin.com/in/hilmy-baja/" aria-label="Linkedin" data-balloon-pos="down">
      <span class="screen-readers-only">Linkedin</span>
      <i class="fa-brands fa-linkedin fa-2x"></i>
    </a>

    <a target="_blank" class="balloon" href="https://orcid.org/0000-0002-6995-3817" aria-label="ORCID" data-balloon-pos="down">
      <span class="screen-readers-only">ORCID</span>
      <i class="fa-brands fa-orcid fa-2x"></i>
    </a>

  </div>
</div>

<!-- News Section -->
<div class="news-section">
  <h4>Latest News</h4>

  {% assign grouped_news = site.news | group_by_exp: "news", "news.date | date: '%Y'" %}

  {% for year in grouped_news %}
    <div class="news-year">
      <h5>{{ year.name }}</h5>

      <div class="news-list">
        {% for news in year.items %}
        <div class="news-item">
          {% if news.image %}
            <img src="{{ news.image }}" alt="News Image" class="news-image">
          {% endif %}
          <div class="news-text">
            <h6>{{ news.title }}</h6>

            <p class="news-excerpt">{% capture md_excerpt %}{{ news.excerpt }}{% endcapture %}{{ md_excerpt | markdownify }}</p>

            <span class="news-date">{{ news.date | date: "%d %b %Y" }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<div class='posts'>
  <h4>Blog Posts</h4>
  <div class='post-listing'>
    {% assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

    {% for year in years %}
      <div class="year">
        <h5>{{ year.name }}</h5>

        <ul>
          {% for post in year.items %}
          <li>
            <code class='published-on'>{{ post.date | date: "%d %b" }}</code>
            <a class='title' href='{{ post.url }}'>{{ post.title }}</a>

            {% for category in post.categories %}
              <a href="/categories/{{ category }}/" class='category'> {{ category }} </a>
            {% endfor %}
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
