---
layout: default
title: "Publications"
permalink: /publications/
---

<h2>My Scientific Publications</h2>

{% assign sorted_pubs = site.publications | sort: "year" | reverse %}

{% for pub in sorted_pubs %}
  <div class="publication-entry">
    <h3><a href="{{ pub.link }}" target="_blank">{{ pub.title }}</a></h3>
    <p>Authors: {% assign formatted_authors = pub.authors | replace: "H Baja", "<strong>H Baja</strong>" %}
        {{ formatted_authors }}</p>
    <p>Journal: {{ pub.journal }}</p>
    <p>Year: {{ pub.year }}</p>

    {% if pub.doi %}
      <p>DOI: <a href="https://doi.org/{{ pub.doi }}" target="_blank">{{ pub.doi }}</a></p>
    {% endif %}
  </div>
{% endfor %}
