---
layout: default
title: "Video Games"
permalink: /videogames/
---

<h2>Thoughts about video games I played in the past</h2>

{% assign sorted_games = site.videogames | sort: "date" | reverse %}

{% for game in sorted_games %}
  <div class="videogame-entry">

    <!-- Collapsible button -->
    <button class="collapsible">{{ game.title }} (year finished: {{ game.date | date: "%Y" }})</button>

    <div class="game-content">
      <p><strong>Platforms:</strong> {{ game.platforms }}</p>
      <p><strong>Genres:</strong> {{ game.genres }}</p>
      <p class="game-excerpt">{{ game.excerpt }}</p>

      <div class="game-images">
        {% for image in game.images %}
          <img src="{{ image }}" alt="{{ game.title }} screenshot">
        {% endfor %}
      </div>

      <div class="game-description">
        {{ game.content | markdownify }}
      </div>
    </div>

    <hr>
  </div>
{% endfor %}
<script src="../js/collapse.js"></script>